<li id="tag_item_<%= tag_counter + 1%>" >
  <div class="btn-group" >
    <a class="btn btn-danger ico-tag" href="javascript:;"> <%= tag %></a>
    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#"></a>
    <ul class="dropdown-menu">
      <li><a href="javascript:;" onclick="tags.remove(<%= tag_counter + 1%>)" ><i class="icon-pencil"></i>Excluir</a></li>
    </ul>
  </div>
</li>


