

<div class="container">
  <h1># HashTags</h1>
  <hr />

  <div class="jumbotron">
    <div class="well well-large">

      <form class="form-horizontal">
        <div class="input-prepend">
          <span class="add-on">#</span>
          <input class="span2" id="prependedInput" type="text" placeholder="Username">

        <p>
          <button class="btn btn-primary" type="button">Default button</button>
            </p>
        </div>

      </form>

    </div>
  </div>
</div>



