<div class="shortcut-box row">
  <header class="header-content">
    <h1 class="title-2">Indique as Palavras que deseja monitorar</h1>
    <p class="hidden-xs">Para monitorar HashTags não esqueça de colocar # na frente da palavra (#VaiTimao)</p>
  </header>
</div>

<div class="container">
  <div class="well">

        <div class="container" id="list_tags_name">
          <ul class="nav nav-pills" id="list">
            <%= render partial: 'tag', collection: @tags %>
          </ul>
        </div>

        <hr class="separator" />

        <div class="input-group" >
          <span class="input-group-addon">
            <span class="ico-twitter-3"></span>
            <span class="ico-instagram"></span>
          </span>
          <input class="form-control" id="hash_tags" type="text" autofocus="true"  placeholder="Digite a HashTag" data-toggle="tooltip" title="Digite a Hash Tag que deseja monitorar" data-placement="bottom" >
          <span class="input-group-btn">
            <button class="btn btn-success ico-earth" id="search">Adicionar</button>
          </span>
        </div>

        <br/>

        <%= form_tag({controller: "tags", action: "create"}, method: "post", class: "form-search") do %>
          <%= submit_tag "Começar", class: 'btn btn-info', id: 'btn_submit' %>
          <%= render partial: 'hidden', collection: @tags, as: :tag %>
        <% end%>
  </div>
</div>

<% content_for :javascript do %>
  $(document).ready(tags.init);
  tags.setup("#hash_tags", "#list_tags_name #list", "#search");
<% end %>
