<div class="shortcut-box row">
  <header class="header-content">
    <h1 class="title-2">Indique as Palavras que deseja monitorar</h1>
    <p class="hidden-xs">Para monitorar HashTags não esqueça de colocar # na frente da palavra (#VaiTimao)</p>
  </header>
</div>

<div class="container">
  <div class="jumbotron">
      <div class="container">

        <div class="container" id="list_tags_name">
          <ul class="nav nav-pills" id="list">
            <%= render partial: 'tag', collection: @tags %>
          </ul>
        </div>

        <br />

          <div class="input-prepend input-append">
            <span class="add-on"><i class="icon-fire"></i>#</span>
            <input class="input-xlarge" id="hash_tags" type="text" autofocus="true"  placeholder="Digite a HashTag" data-toggle="tooltip" title="Digite a Hash Tag que deseja monitorar" data-placement="bottom" >
            <button type="button" class="btn" id="search">Adicionar</button>
          </div>
        <%= form_tag({controller: "tags", action: "create"}, method: "post", class: "form-search") do %>
          <%= submit_tag "Ok", class: 'btn btn-inverse', id: 'btn_submit' %>
          <%= render partial: 'hidden', collection: @tags, as: :tag %>
        <% end%>
      </div>
  </div>
</div>

<% content_for :javascript do %>
  $(document).ready(tags.init);
  tags.setup("#hash_tags", "#list_tags_name #list", "#search");
  $('#hash_tags').tooltip('toggle').tooltip('hide');
  $('.dropdown-toggle').dropdown();
<% end %>
