<div class="container">
  <h1># HashTags</h1>
  <% @tags.each do |tag| %>
    <span class="badge badge-inverse tags"><%= tag%></span>
  <% end %>

  <hr />

  <div class="jumbotron">
    <div class="well well-large">
      <div id="content-messages" data-uri="<%= request.host %>:<%= request.port %>/websocket">
        <div class="text-animate">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  $(document).ready(good_news.init);
  tags.start_listener();
<% end %>


